/bootstrap/compiled.php
/resources/vendor
/vendor
/node_modules
composer.phar
composer.lock

# Environment
.env
.env.example
/nbproject
/config/local

# IDEs
/.idea
.project
/.settings

# OS
.DS_Store
Thumbs.db
